.container-fluid{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.Navbars{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #303030;
}

.Navbars .social-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: #e6e6e6;
}

.Navbars .social-nav .brand{
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
    color: #808080;
}

.Navbars .social-nav .icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.Navbars .social-nav .icons a{
    display: flex;
    text-decoration: none;
    margin: 20px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.Navbars .social-nav .icons a i{
    display: flex;
    color: white;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

#linked{
    background-color: #346da6;
}

#facebook{
    background-color: blue;
}

#telegram{
    background-color: #38b6e4;
}

#whatsapp{
    background-color: #24d366;
}

#envelope{
    background-color: #000000;
}

.Navbars .social-nav .icons a i:hover{
    font-size: 22px;
}


.Navbars .social-nav .calls{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Navbars .social-nav .calls span{
    font-family: "OpenSans", Arial, sans-serif, Noto Sans Hebrew, Noto Sans, Noto Sans JP, Noto Sans KR;
    font-size: 20px;
    font-kerning: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.Navbars .social-nav .calls a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.Navbars .social-nav .calls a img{
    width: 50px;
    margin: 10px;
    padding-bottom: 10px;
}

.Navbars .main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.Navbars .main-nav .menu-icon{
    display: flex;
    position: absolute;
    right: 10px;
    justify-content: center;
    align-items: center;
    display: none;
}

.Navbars .main-nav .menu-icon a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.Navbars .main-nav .menu-icon i{
    padding: 10px;
    font-size: 24px;
    color: #fac710;
}

.Navbars .main-nav .navigations{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
}

.Navbars .main-nav .navigations a{
    display: flex;
    text-decoration: none;
    color: #808080;
    font-weight: 700;
}

.Navbars .main-nav a img{
    width: 80px;
    height: 100%;
    margin-left: 15px;
}

.Navbars .main-nav .navigations a:hover{
    color: #fac710;
}

.Navbars .main-nav .navigations .active{
    color: #fac710;
}

.Navbars .main-nav .right{
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.Navbars .main-nav .right a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #e6e6e6;
    color: #808080;
    margin: 10px;
    width: 180px;
    height: 60px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.hidden-nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #303030;
    justify-content: center;
    align-items: center;
    display: none;
}

.hidden-nav .as{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
}

.hidden-nav .as a{
    display: flex;
    text-decoration: none;
    color: #808080;
    font-weight: 700;
}

.hidden-nav .as a .active{
    color: #fac710;
}

.hidden-nav .right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hidden-nav .right a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #e6e6e6;
    color: #808080;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
} 


.sub{
    display: flex;
    flex-direction: column;
    background-image: url('../images/divorce.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    margin: auto;
    align-items: center;
    background-position: center;
    min-height: 600px;
    opacity: 0.8;
}

.sub .overlay{
    position: absolute;
    width: 100%;
    height: 90%;
    background-color: #fcfcfc;
    opacity: 0.8;
}

.sub .sub-head{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
}

.sub .sub-head h3{
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 600;
    margin: 20px;
    color: #808080;
}

.sub .sub-head h5{
    font: 14px OpenSans, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    width: 80%;
    text-align: center;
    color: #808080;
}

.sub .sub-form{
    display: flex;
    z-index: 3;
    margin-top: 18%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sub .sub-form .form-inn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.sub .sub-form .form-inn input{
    width: 33%;
    height: 70px;
    padding: 10px;
    text-align: center;
    font: 16px OpenSans, Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #e6e6e6;
    border-radius: 10px;
    border-color: #e6e6e6;
    border-width: 0;
}

.sub .sub-form .form-inn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 90px;
    text-decoration: none;
    background-color: #fbd240;
    color: #808080;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 3px;
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: #fcf7e4;
    justify-content: center;
    padding-top: 20px;
}

.cards .card-head{
    display: flex;
    font: 24px OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 600;
    width: 100%;
    letter-spacing: 2px;
    justify-content: center;
    align-items: center;
}

.cards .card-body{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.cards .card-body .card-1{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #31302e;
    min-height: 430px;
    align-items: center;
    margin: 10px;
    border-radius: 40px;
}


.cards .card-body .card-1 .card-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#cont-1{
    margin-top: 18px;
}

#cont-l{
    margin-bottom: 18px;
}
.cards .card-body .card-1 .card-cont .myrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-left: 30px;
}


.cards .card-body .card-1 .card-cont .myrow img{
    width: 30px;
    height: 30px;
    margin: 1px;
}

.cards .card-body .card-1 .card-cont .myrow .arrow{
    margin-right: 1px;
    color: #fac710;
}

.cards .card-body .card-1 .card-cont .myrow .txt{
    color: #7c7c7c;
    font: 12px OpenSans, Arial, Helvetica, sans-serif;
    font-weight: 800;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.content .list{
    color: #7c7c7c;
    font: 12px OpenSans, Arial, Helvetica, sans-serif;
    font-weight: 800;
    margin: 15px 35px;
}


.cards .card-body .card-1 .card-cont .mycol{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.cards .card-body .card-1 .card-cont .mycol span{
    border-left: 1px dashed #fac710;
    height: 40px;
    margin-left: 15px;
}

.cards .card-body .card-2{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #e6e6e6;
    height: 600px;
    align-items: center;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 40px;
}

.cards .card-body .card-3{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #e6e6e6;
    height: 600px;
    align-items: center;
    margin: 10px;
    border-radius: 40px;
}

.c-head{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fac710;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #808080;
    border-radius: 20px;
    line-height: 20px;
    padding-top: 10px;
    height: 80px;
}

#first-card{
    background-color: #e6e6e6;
    border-radius: 0;
}


.footers{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #303030;
    align-items: center;
}

.footers h3{
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 700;
    margin: 30px;    
}

.footers .footer-body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 20px;
}

.footers .footer-body .body-card{
    display: flex;
    flex-direction: column;
    width: 24%;
    /* border-right: 1px dashed #fac710; */
    margin: 20px 10px;
}

.footers .footer-body .body-card .tops{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.footers .footer-body .body-card .tops img{
    width: 35px;
    height: 35px;
    margin: 5px 8px;
    border-radius: 15px;
}

.footers .footer-body .body-card .tops span{
    width: 10%;
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 800;
    font-size: 16px;
    margin-left: 10px;
}

#third{
    width: 40%;
}

.footers .footer-body .body-card .mytooltip{
    display: flex;
    width: 90%;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    border-radius: 10px;
    margin: 20px 10px;
    position: relative;
}

.footers .footer-body .body-card .mytooltip p{
    width: 80%;
    text-align: center;
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 5px;
}

#last-card{
    border-right: 0px;
}

.footers .footer-body .body-card .mytooltip::before{
    content: '';
    position: absolute;
    bottom: -20px;
    border: 11px solid transparent;
    left: 108px;
    border-top-color: #e6e6e6;
}

.footers .brands{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footers .brands .brands-txt{
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 10px;
    padding-left: 10px;
    border-right: 2px solid #fac710;
}

.footers .brands .brands-txt p{
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 600;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.footers .brands .brands-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footers .brands .brands-icon img{
    width: 120px;
    height: 50px;
    margin: 30px 40px;
}

.footers .footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #e6e6e6;
    margin-top: 30px;
}

.footers .footer-nav p{
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 500;
    font-size: 18px;
    padding: 15px;
    margin-top: 8px;
    text-align: center;   
}

.top-btn{
    display: flex;
    position: absolute;
    bottom: 8%;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    right: 5%;
    background-color: #fac710;
    position: fixed;
    z-index: 1000;
    border-radius: 40px;
}

.top-btn i{
    font-size: 35px;
    padding: 10px;
    margin-left: 2px;
    cursor: pointer;
}

.cookies{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fac710;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    z-index: 1111;
    position: fixed;
    display: none;
}

.cookies p{
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 500;
    font-size: 18px;
    text-align: center;   
}

.cookies .checkboxes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.cookies .checkboxes .control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cookies .checkboxes .control label{
    font: OpenSans, Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.cookies .checkboxes .control input{
    background-color: #e6e6e6;
    color: #fac710;
}

.cookies .checkboxes a{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #302b19;
    color: #fac710;
}


@media only screen and (max-width: 812px){
    .sub .overlay{
        position: absolute;
        width: 100%;
        height: 50%;
        background-color: #fcfcfc;
        opacity: 0.8;
    }


    .cards .card-body .card-1{
        display: flex;
        flex-direction: column;
        width: 28%;
        background-color: #31302e;
        min-height: 430px;
        align-items: center;
        margin: 10px;
        border-radius: 40px;
    }
    
    
    .cards .card-body .card-1 .card-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .cards .card-body .card-2{
        display: flex;
        flex-direction: column;
        width: 25%;
        background-color: #e6e6e6;
        height: 600px;
        align-items: center;
        margin: 10px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 40px;
    }
    
    .cards .card-body .card-3{
        display: flex;
        flex-direction: column;
        width: 20%;
        background-color: #e6e6e6;
        height: 600px;
        align-items: center;
        margin: 10px;
        border-radius: 40px;
    }
    
    .c-head{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fac710;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        color: #808080;
        border-radius: 20px;
        line-height: 20px;
        padding-top: 10px;
        height: 80px;
    }

    
}

@media only screen and (max-width: 414px){
    .sub{
        width: 100%;
        justify-content: center;
        min-height: 300px;
        opacity: 0.8;
    }
    
    .sub .overlay{
        position: absolute;
        width: 100%;
        height: 35%;
        background-color: #fcfcfc;
        opacity: 0.8;
    }
    
    .sub .sub-head{
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0;
    }
    
    .sub .sub-head h3{
        font: 14px OpenSans, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 600;
        margin: 20px;
        color: #808080;
    }
    
    .sub .sub-head h5{
        font: 14px OpenSans, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
        margin: 5px;
        width: 80%;
        text-align: center;
        color: #808080;
    }
    
    .sub .sub-form{
        display: flex;
        z-index: 3;
        margin-top: 15px;
        margin-bottom: 30px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sub .sub-form .form-inn{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .sub .sub-form .form-inn input{
        width: 60%;
        height: 50px;
        padding: 5px;
        text-align: center;
        font: 12px OpenSans, Arial, Helvetica, sans-serif;
        font-weight: 600;
        background-color: #e6e6e6;
        border-radius: 10px;
        border-color: #e6e6e6;
        border-width: 0;
    }
    
    .sub .sub-form .form-inn a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 50px;
        text-decoration: none;
        background-color: #fbd240;
        color: #808080;
        font-weight: 700;
        font-size: 14px;
        border-radius: 10px;
        margin-left: 3px;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        background-color: #fcf7e4;
        justify-content: center;
        padding-top: 20px;
    }
    
    .cards .card-head{
        display: flex;
        font: 24px OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 600;
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        justify-content: center;
        align-items: center;
    }
    
    .cards .card-body{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        align-items: flex-end;
    }

    .cards .card-body .card-1{
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: #31302e;
        min-height: 430px;
        align-items: center;
        margin: 5px;
        border-radius: 40px;
    }
    
    
    .cards .card-body .card-1 .card-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .cards .card-body .card-1 .card-cont .myrow{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-left: 5px;
    }
    
    
    .cards .card-body .card-1 .card-cont .myrow img{
        width: 20px;
        height: 20px;
        margin: 1px;
    }
    
    .cards .card-body .card-1 .card-cont .myrow .arrow{
        margin-right: 0px;
        color: #fac710;
    }
    
    .cards .card-body .card-1 .card-cont .myrow .txt{
        color: #7c7c7c;
        font: 10px OpenSans, Arial, Helvetica, sans-serif;
        font-weight: 800;
        width: 40%;
    }
    
    .content .list{
        color: #7c7c7c;
        font: 12px OpenSans, Arial, Helvetica, sans-serif;
        font-weight: 800;
        margin: 5px 10px;
    }
    
    
    .cards .card-body .card-1 .card-cont .mycol{
        display: flex;
        flex-direction: column;
        margin-left: 2px;
    }
    
    .cards .card-body .card-1 .card-cont .mycol span{
        border-left: 1px dashed #fac710;
        height: 30px;
        margin-left: 15px;
    }
    

    .cards .card-body .card-2{
        display: flex;
        flex-direction: column;
        width: 35%;
        background-color: #e6e6e6;
        height: 600px;
        align-items: center;
        margin: 5px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 40px;
    }
    
    .cards .card-body .card-3{
        display: flex;
        flex-direction: column;
        width: 35%;
        background-color: #e6e6e6;
        height: 600px;
        align-items: center;
        margin: 2px;
        border-radius: 40px;
    }
    
    .c-head{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #fac710;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        color: #808080;
        border-radius: 20px;
        line-height: 20px;
        padding-top: 12px;
        height: 80px;
        text-align: center;
    }

    .Navbars .social-nav .brand{
        font: OpenSans, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin: 20px;
        color: #808080;
    }
    
    .Navbars .social-nav .icons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    
    .Navbars .social-nav .icons a{
        display: flex;
        text-decoration: none;
        margin: 5px;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }
    
    .Navbars .social-nav .icons a i{
        display: flex;
        color: white;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
    }

    .Navbars .social-nav .calls span{
        font-family: "OpenSans", Arial, sans-serif, Noto Sans Hebrew, Noto Sans, Noto Sans JP, Noto Sans KR;
        font-size: 14px;
        line-height: 12px;
        font-kerning: auto;
        overflow-wrap: break-word;
        white-space: pre-wrap;
        color: rgb(128, 128, 128);
    }
    
    .Navbars .social-nav .calls a{
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    
    .Navbars .social-nav .calls a img{
        width: 20px;
        margin: 5px;
        padding-bottom: 10px;
    }
    
    .Navbars .main-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .Navbars .main-nav .navigations{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        display: none;
    }
    
    .Navbars .main-nav .navigations a{
        display: flex;
        text-decoration: none;
        color: #808080;
        font-weight: 700;
        margin: 5px;
    }

    .Navbars .main-nav .right{
        display: flex;
        align-items: center;
        display: none;
    }
    
    .Navbars .main-nav .right a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: #e6e6e6;
        color: #808080;
        margin: 10px;
        width: 180px;
        height: 60px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
    }

    .Navbars .main-nav .menu-icon{
        display: flex;
    }
 
    .footers h3{
        margin: 10px;
        text-align: center;    
    }
    
    .footers .footer-body{
        margin: 1px;
    }
    
    .footers .footer-body .body-card{
        width: 25%;
        border-right: 1px dashed #fac710;
        margin: 20px 2px;
    }
    
    .footers .footer-body .body-card .tops{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    
    .footers .footer-body .body-card .tops img{
        width: 20px;
        height: 20px;
        margin: 2px 3px;
        border-radius: 10px;
    }
    
    .footers .footer-body .body-card .tops span{
        width: 10%;
        font: OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 700;
        font-size: 10px;
        margin-left: 2px;
    }
    
    #third{
        width: 40%;
    }
    
    .footers .footer-body .body-card .mytooltip{
        display: flex;
        width: 90%;
        border: 1px solid #e6e6e6;
        background-color: #e6e6e6;
        border-radius: 10px;
        margin: 5px 5px;
        position: relative;
    }
    
    .footers .footer-body .body-card .mytooltip p{
        width: 80%;
        text-align: center;
        font: OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 600;
        font-size: 10px;
        padding-top: 10px;
        padding-left: 5px;
    }
    
    #last-card{
        border-right: 0px;
    }
    
    .footers .footer-body .body-card .mytooltip::before{
        content: '';
        position: absolute;
        bottom: -20px;
        border: 11px solid transparent;
        left: 20px;
        border-top-color: #e6e6e6;
    }
    
    .footers .brands{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    .footers .brands .brands-txt{
        justify-content: center;
        align-items: center;
        width: 30%;
        margin: 2px;
        padding-right: 2px;
        border-right: 2px solid #fac710;
    }
    
    .footers .brands .brands-txt p{
        font: OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 600;
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    
    .footers .brands .brands-icon{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .footers .brands .brands-icon img{
        width: 60px;
        height: 30px;
        margin: 30px 10px;
    }
    
    .footers .footer-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #e6e6e6;
        margin-top: 10px;
    }
    
    .footers .footer-nav p{
        font: OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 500;
        font-size: 12px;
        padding: 15px;
        margin-top: 4px;
        text-align: center;   
    }
 
    .cookies p{
        font: OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 500;
        font-size: 16px;
        text-align: center;   
    }
    
    .cookies .checkboxes{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .cookies .checkboxes .control{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .cookies .checkboxes .control label{
        font: OpenSans, Arial, Helvetica, sans-serif;
        color: #808080;
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }
    
    .cookies .checkboxes .control input{
        background-color: #e6e6e6;
        color: #fac710;
    }
    
    .cookies .checkboxes a{
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 30px;
        border-radius: 10px;
        background-color: #302b19;
        color: #fac710;
    }
    
    
}

@media only screen and (max-width: 375px){
    
    .cards .card-body .card-1 .card-cont .myrow .txt{
        color: #7c7c7c;
        font: 8px OpenSans, Arial, Helvetica, sans-serif;
        font-weight: 800;
    }
}

